@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

/* Typography */
a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: rgb(192, 58, 163);
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 30px;
    background-color: #000;
    z-index: 99;
}

/* Video showcase */
.video {
    position: relative;
    height: 100vh;
}

.video-showcase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgb(42, 43, 44);
    opacity: 0.8;
}

.video-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0 1rem;
    z-index: 2;
    color: #fff;
    text-align: center;
}

.video-text .transition-btn {
    margin-top: 50px;
}

/* Gallery showcase */
.gallery-showcase {
    margin: 5px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-bottom: 5px;
}

.row div {
    height: 40vh;
    padding: 15px;
} 

.row.row-one div:nth-child(2),
.row.row-two div:nth-child(1),
.row.row-two div:nth-child(3) {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(15, 15, 15);
    color: #fff;
    transition: 1s ease-in-out;
}

.row.row-one div:nth-child(2):hover,
.row.row-two div:nth-child(1):hover,
.row.row-two div:nth-child(3):hover {
    background-color: rgb(186, 60, 202);
    font-size: 1.03rem;
}

/* Gallery images */
.row.row-one div:nth-child(1) {
    background: url('/img/architecture-art-colorful-161154.jpg') no-repeat center/cover;
    transition: .6s;
}

.row.row-one div:nth-child(3) {
    background: url('/img/art-art-materials-artwork-1053687.jpg') no-repeat center/cover;
    transition: .6s;
}

.row.row-two div:nth-child(2) {
    background: url('/img/art-black-and-white-blur-39348.jpg') no-repeat center/cover;
    transition: .6s;
}

.row.row-three div {
    background: url('/img/art-artsy-craft-220421.jpg') no-repeat center/cover;
    transition: .6s;
}

.row.row-one div:nth-child(1):hover,
.row.row-one div:nth-child(3):hover,
.row.row-two div:nth-child(2):hover,
.row.row-three div:hover {
    border: 5px solid rgb(161, 34, 55);
}

/* Blur showcase */
.blur-showcase {
    position: relative;
}

.blur-showcase::after {
    content: '';
    background: url(/img/art-calamity-dawn-1151261.jpg) no-repeat center/cover;
    width: 100%;
    height: 100vh;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: 1s;
}

.blur-showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 1s;
}

.blur-showcase .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
}

.blur-showcase .content p {
    font-size: 1.5rem;
    color: rgb(235, 0, 0);
}